<div class="logo-container">
    <img src="assets/images/friendMeLogo.png" class="logo">
</div>
<h1 class="personal">Hi {{ name }}</h1>
<div *ngIf="friendRequests?.length > 0">
    <p>You have {{ friendRequests.length }} friendRequests</p>
    <ul>
        <li *ngFor="let friendRequest of friendRequests">
            <a [routerLink]="['/profile',friendRequest.userid,friendRequest.username,'r']">
				{{ friendRequest.username }}
			</a>
        </li>
    </ul>
</div>
<div class="me-pic personal"><img src="{{ avatar }}" width="100px" /></div>
<ul class="friend-list">
    <li class="friend-conversation" [class.online]="friend.loggedIn" *ngFor="let friend of friends">
        <img src="{{ friend.avatar }}" />
        <a [routerLink]="['/profile',friend.userId,friend.username,'t']">
            <p>{{ friend.username }}</p>
            <p class="message-indicator">2</p>
            <p [class.lmEmpty]="friend.lmEmpty">{{ friend.lastMessage }}</p>
            <p class="time-indicator">{{ friend.timeStamp }}</p>
        </a>
    </li>
</ul>
<a><i class="fa fa-cog"></i></a>
<a [routerLink]="['/search']"><i class="fa fa-search"></i></a>
<input type="submit" value="Logout" (click)="logout()">