<h1>Welcome to your dashboard</h1>
<div *ngIf="friendRequests?.length > 0">
	<p>You have {{ friendRequests.length }} friendRequests</p>
	<ul>
		<li *ngFor="let friendRequest of friendRequests">
			<a [routerLink]="['/profile',friendRequest.userid,friendRequest.username,'r']">
				{{ friendRequest.username }}
			</a>
		</li>
	</ul>
</div>
<h3>Friends:</h3>
<ul>
	<li *ngFor="let friend of friends">
		<a [routerLink]="['/profile',friend.name,true]">
			<p>{{ friend.username }}</p>
		</a>
	</li>
</ul>

<input type="submit" value="Search for new friends" routerLink="/search">