<div class="logo-container">
		<img src="assets/images/friendMeLogo.png" class="logo">
	</div>
<div *ngIf="friendRequests?.length > 0">
	<p>You have {{ friendRequests.length }} friendRequests</p>
	<ul>
		<li *ngFor="let friendRequest of friendRequests">
			<a [routerLink]="['/profile',friendRequest.userid,friendRequest.username,'r']">
				{{ friendRequest.username }}
			</a>
		</li>
	</ul>
</div>
<div class="me-pic"><img src="/assets/images/Anon-Person.png" width="100px"/></div>
<ul class="friend-list">
	<li class="friend-conversation" *ngFor="let friend of friends">
		<a [routerLink]="['/profile',friend._id,friend.username,'t']">
			<p>{{ friend.username }}</p>
			<p class="message-indicator">2</p>
			<p>Great idea dude! I'll see...</p>
			<p class="time-indicator">10:49pm</p>
		</a>
	</li>
</ul>
<a><i class="fa fa-cog"></i></a>
<a [routerLink]="['/search']"><i class="fa fa-search"></i></a>
<!-- <input type="submit" value="Logout" (click)="logout()"> -->