<form #f="ngForm" (ngSubmit)="submit(f)">
	<div class="logo-container">
		<img src="assets/images/friendMeLogo.png" class="logo">
	</div>
	<input type="text" ngModel name="username" #username="ngModel" placeholder="Username">
	<input type="text" ngModel name="password" #password="ngModel" placeholder="Password">
	<input type="submit" value="Log In" class="main-button">
	<input type="submit" value="Create New Account" routerLink="/register" class="secondary-button">
	<a href="#" class="f-password">Forgotten password?</a>
</form>

{{message}}

