/* .logo {
  width:80vw;
  position: relative;
  left:50%;
  transform:TranslateX(-50%);
  margin-top: 60px;
  margin-bottom: 10px;
}

.logo-container:after {
  content: "";
  width: 80vw;
  margin: auto;
  margin-bottom: 50px;
  height: 2px;
  display: block;
  background-color: white;
}

input {
  width:80vw;
  padding: 15px 10px;
  position: relative;
  left:50%;
  box-sizing: border-box;
  transform: TranslateX(-50%);
}

input[type="submit"] {
  margin-top: 10px;
  padding: 10px 10px;
  color: white;
  border: none;
}

.main-button {
  background-color: #fa7e00;
}

.secondary-button {
  padding: 8px 10px;
  width: 200px;
  background-color: #e74600;
}

a.f-password {
  color:white;
  text-decoration: none;
  font-size: 12px;
  margin: 20px;
  display: block;
  text-align: center;
} */